@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  overflow-x: hidden;
  overflow-y: hidden
}

svg {
  font: 14px 'Open Sans';
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.area {
  stroke-width: 1;
}

.area.outer,
.legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.area.inner,
.legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.median-line,
.legend .median-line {
  fill: gray;
}

.legend .legend-bg {
  fill: rgba(0, 0, 0, 0.4);
  stroke: rgba(0, 0, 0, 0.4);
}

.marker.atm .marker-bg,
.marker.atm path {
  fill: orange;
  stroke: orange;
  stroke-width: 3;
}

.atm-rect {
  fill: orange;
}

.marker.客服進線 .marker-bg,
.marker.客服進線 path {
  fill: green;
  stroke: green;
  stroke-width: 3;
}

.客服進線-rect {
  fill: green;
}

.marker.網銀 .marker-bg,
.marker.網銀 path {
  fill: skyblue;
  stroke: skyblue;
  stroke-width: 3;
}

.網銀-rect {
  fill: skyblue;
}

.marker.信用卡 .marker-bg,
.marker.信用卡 path {
  fill: pink;
  stroke: pink;
  stroke-width: 3;
}

.信用卡-rect {
  fill: pink;
}

.marker path {
  fill: none;
}

.marker-event {
  writing-mode: vertical-lr;
}

.legend text,
.marker text {
  font-weight: bold;
}

.marker text {
  text-anchor: middle;
}

/*.median-line {
  visibility: hidden;
  animation: draw1 5s;
  animation-fill-mode: forwards;
}

@keyframes draw1 {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}*/